<connectionStrings>
    <add name="EtrDataSourceMySQL" connectionString="server=etender-cluster.cluster-cbxr6wyptijf.ap-southeast-2.rds.amazonaws.com:3306;user id=admin;password=Gruden987!;persistsecurityinfo=True;database=etr;ConnectionTimeout=200;DefaultCommandTimeout=200;Allow Zero Datetime=True;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
