<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.8" targetFramework="net452" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.2.1" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.5.3" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Castle.Core-log4net" version="3.3.3" targetFramework="net452" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor-log4net" version="3.3.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="MailKit" version="1.10.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="MimeKit" version="1.10.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Wddx.Net" version="1.1.1" targetFramework="net452" />
</packages>